.container{
    width: 100%;
}
.pass-head{
    direction: ltr;
}
.btn{
    display: table-row;
}
.form-head{
    display: inline-flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.row-form{
    width: 100%;
    padding-bottom: 20px;
}
.row-body{
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    border: 3px;
    width:auto;
    padding-bottom: 10px;
}
.form-control{
    text-align: start;
}
