.container{
    width: 100%;
}
.form-head{
    padding: 16px;
    border-top: 3px;
    border-bottom-width: 10px;
    justify-content: center;
}
.row-form{
    width: 100%;
    padding-bottom: 20px;
}

.row-select{
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    border: 3px;
    width:auto;
    direction: ltr;
    display:flex;
    padding-top: 10px;
}
.form-control{
    text-align: start;
}
